/* importe de fuente de familia */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* seteando los estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

/* estilizando la etiqueta a */
a {
  text-decoration: none;
}

/* estilizando la etiqueta li */
li{
  list-style: none;
}

/* estilizando el button */
:is(button, input) {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  color: #f9fff9;
}
